    <div class="wrapper">
        <div class="layer">
        <nav class="nav">
            <ul class="nav-container">
                <li class="nav-container-item">
                    <img src="#" alt="ACP Logo" class="logo">
                </li>
                <li class="nav-container-item">
                    <img src="assets/img/Logo Kopie.png" alt="HOWA Logo" class="logo">
                </li>
                <li class="nav-container-item">Zur Hauptseite</li>
            </ul>
        </nav>

        <div class="box-container">
            <div class="choose-box">
                <div class="choose-box-header">
                    <h3 class="choose-box-header-heading">Kaliberauswahl</h3>
                </div>
                <ul class="choose-box-list">
                    <li [class.active]=" systemWahlObj['Kaliber'] === i" (click)="selectedCal(i)" *ngFor="let i of database.filteredItems" class="choose-box-list-item"><a href="#" class="choose-box-list-item-link">{{i}}</a></li>
                </ul>
            </div>
            <div class="choose-box">
                <div class="choose-box-header">
                    <h3 class="choose-box-header-heading">Systemauswahl</h3>
                </div>
                <ul class="choose-box-list">
                    <li (click)="selectedSys(x)" *ngFor="let x of systemWahlStr" class="choose-box-list-item"><a href="#" class="choose-box-list-item-link">
                        <div class="choose-box-list-item-link-divider">
                            <p class="choose-box-list-item-link-divider-desc">{{x}}</p>
                        </div></a></li>
                </ul>
            </div>
            <div class="choose-box">
                <div class="choose-box-header">
                    <h3 class="choose-box-header-heading">Schaftauswahl</h3>
                </div>
                <ul class="choose-box-list">
                    <li *ngFor=" let y of schaftWahlObj" class="choose-box-list-item"><a href="#" class="choose-box-list-item-link">
                        <div class="choose-box-list-item-link-divider">
                            <!-- <h4 class="choose-box-list-item-link-divider-system">Hogue</h4> -->
                            <p class="choose-box-list-item-link-divider-desc">{{y.Schaft}}</p>
                        </div></a></li>
                </ul>
            </div>
        </div>
        <div class="pic-container">
            <div class="pic-container-schsys">
            <div class="pic-container-schsys-system">
                <img src="assets/img/Images/f_schaft12.png" alt="System (Beschreibung)" class="pic-container-schsys-pic">
            </div>
            <div class="pic-container-schsys-schaft">
                <img src="assets/img/Images/f_system4.png" alt="System (Beschreibung)" class="pic-container-schsys-pic">
            </div>
        </div>
            <div class="pic-container-buchse">
                <h2 class="pic-container-heading">
                    Ihre HOWA
                </h2>
            </div>
        </div>
    </div>
    </div>

