<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>HOWA Configurator</title>
</head>
<body>
    <div class="wrapper">
        <div class="layer">
        <nav class="nav">
            <ul class="nav-container">
                <li class="nav-container-item">
                    <img src="#" alt="ACP Logo" class="logo">
                </li>
                <li class="nav-container-item">
                    <img src="/Maintenance/Logo Kopie.png" alt="HOWA Logo" class="logo">
                </li>
                <li class="nav-container-item">Zur Hauptseite</li>
            </ul>
        </nav>

        <div class="box-container">
            <div class="choose-box">
                <div class="choose-box-header">
                    <h3 class="choose-box-header-heading">Kaliberauswahl</h3>
                </div>
                <ul class="choose-box-list">
                    <li class="choose-box-list-item"><a href="#" class="choose-box-list-item-link">.204 Ruger</a></li>
                    <li class="choose-box-list-item"><a href="#" class="choose-box-list-item-link">.22-250Rem</a></li>
                    <li class="choose-box-list-item"><a href="#" class="choose-box-list-item-link">.243 Win.</a></li>
                    <li class="choose-box-list-item"><a href="#" class="choose-box-list-item-link">.270 Win.</a></li>
                    <li class="choose-box-list-item"><a href="#" class="choose-box-list-item-link">.30-06 Sprgf.</a></li>
                </ul>
            </div>
            <div class="choose-box">
                <div class="choose-box-header">
                    <h3 class="choose-box-header-heading">Systemauswahl</h3>
                </div>
                <ul class="choose-box-list">
                    <li class="choose-box-list-item"><a href="" class="choose-box-list-item-link">
                        <div class="choose-box-list-item-link-divider">
                            <h4 class="choose-box-list-item-link-divider-system">24"Lauf - 12"Drall</h4>
                            <p class="choose-box-list-item-link-divider-desc">Cerakote m. Stainless Optik<br>Short Action / heavy Barrell</p>
                        </div></a></li>
                    <li class="choose-box-list-item"><a href="" class="choose-box-list-item-link">
                        <div class="choose-box-list-item-link-divider">
                            <h4 class="choose-box-list-item-link-divider-system">24"Lauf - 12"Drall</h4>
                            <p class="choose-box-list-item-link-divider-desc">Cerakote m. Stainless Optik<br>Short Action / heavy Barrell</p>
                        </div></a></li>
                    <li class="choose-box-list-item"><a href="" class="choose-box-list-item-link">
                        <div class="choose-box-list-item-link-divider">
                            <h4 class="choose-box-list-item-link-divider-system">24"Lauf - 12"Drall</h4>
                            <p class="choose-box-list-item-link-divider-desc">Cerakote m. Stainless Optik<br>Short Action / heavy Barrell</p>
                        </div></a></li>
                </ul>
            </div>
            <div class="choose-box">
                <div class="choose-box-header">
                    <h3 class="choose-box-header-heading">Schaftauswahl</h3>
                </div>
                <ul class="choose-box-list">
                    <li class="choose-box-list-item"><a href="" class="choose-box-list-item-link">
                        <div class="choose-box-list-item-link-divider">
                            <h4 class="choose-box-list-item-link-divider-system">Hogue</h4>
                            <p class="choose-box-list-item-link-divider-desc">Pillar Beding Schwarz</p>
                        </div></a></li>
                    <li class="choose-box-list-item"><a href="" class="choose-box-list-item-link">
                        <h4 class="choose-box-list-item-link-divider-system">Hogue</h4>
                        <p class="choose-box-list-item-link-divider-desc">Pillar Beding Olivgrün</p>
                    </a></li>
                    <li class="choose-box-list-item"><a href="" class="choose-box-list-item-link">
                        <h4 class="choose-box-list-item-link-divider-system">Hogue</h4>
                        <p class="choose-box-list-item-link-divider-desc">Full Length Aluminium Bedding Block<br>(FLABB) Schwarz</p>
                    </a></li>
                    <li class="choose-box-list-item"><a href="" class="choose-box-list-item-link">
                        <h4 class="choose-box-list-item-link-divider-system">Varminter Supreme</h4>
                        <p class="choose-box-list-item-link-divider-desc">Nutmeg Style</p>
                    </a></li>
                    <li class="choose-box-list-item"><a href="" class="choose-box-list-item-link">
                        <h4 class="choose-box-list-item-link-divider-system">Varminter Supreme</h4>
                        <p class="choose-box-list-item-link-divider-desc">Pepperstyle</p>
                    </a></li>
                </ul>
            </div>
        </div>
        <div class="pic-container">
            <div class="pic-container-schsys">
            <div class="pic-container-schsys-system">
                <img src="/img/Images/schaft12.png" alt="System (Beschreibung)" class="pic-container-schsys-pic">
            </div>
            <div class="pic-container-schsys-schaft">
                <img src="/img/Images/f_system4.png" alt="System (Beschreibung)" class="pic-container-schsys-pic">
            </div>
        </div>
            <div class="pic-container-buchse">
                <h2 class="pic-container-heading">
                    Ihre HOWA
                </h2>
            </div>
        </div>
    </div>
    </div>
    <script src="main.js"></script>
</body>
</html>
